
<div class="flex justify-content-center p-6">
  <div class="flex flex-column w-3 gap-5 p-4 surface-card shadow-2 border-round">
    <div class="text-center mb-5">
      <img src="assets/images/parking-logo.png" alt="Logo" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Sistema Gestión Parqueadero</div>
      <span class="text-600 font-medium">¿No estas registrado?</span>
      <a class="font-medium text-blue-500 no-underline ml-2 cursor-pointer">Regístrate aquí</a>
    </div>
  <div class="flex flex-column w-3 gap-5">
    <span class="font-bold text-3xl">Bienvenido a nuestra plataforma!!</span>
    <form [formGroup]="formLogin" class="flex gap-4 flex-column">
      <div class="flex flex-column gap-2">
        <label for="username">Usuario</label>
        <input
          formControlName="username"
          pInputText
          id="username"
          aria-describedby="username-help"/>
      </div>
      <div class="flex flex-column gap-2">
        <label for="username">Contraseña</label>
        <input
          formControlName="password"
          pInputText
          id="password" type="password"
          aria-describedby="username-help"/>
      </div>
    </form>
    <div class="flex justify-content-end">
      <p-button label="Login" (click)="login()" />
    </div>
  </div>

</div>
